<button type="button" class="close" aria-label="Close" [mat-dialog-close]="true">
  <span aria-hidden="false">&times;</span>
</button>
<div class="borderbottom">
  <h1 class="h2">Add Address</h1> 
</div>

  <!-- <mat-dialog-content> -->
      <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">
        <div>
            <input type="hidden" class="form-control hidden" name="AddressId" #Name="ngModel" [(ngModel)]="address.AddressId">
            <div class="form-group" style="margin-top: 10px">
              <label>Name</label>
              <input cdkFocusInitial type="text" class="form-control" placeholder="Enter Name"
              name="Name" [(ngModel)]="address.Name" 
              [class.is-invalid]="Name.invalid && Name.touched" required>
              <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Name is required</small>
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <input type="value" class="form-control" placeholder="Enter Phone Number" 
              name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="address.PhoneNumber" 
              [class.is-invalid]="PhoneNumber.invalid && PhoneNumber.touched" required [pattern]=phonePattern>
              <small class="text-danger" [class.d-none]="PhoneNumber.valid || PhoneNumber.untouched">Phone Number is required</small>
            </div>

            <div class="form-group">
                <label>Delivery Address</label>
                <input type="value" class="form-control" placeholder="Enter Delivery Address" 
                name="DeliveryAddress" #DeliveryAddress="ngModel" [(ngModel)]="address.DeliveryAddress" 
                [class.is-invalid]="DeliveryAddress.invalid && DeliveryAddress.touched" required>
                <small class="text-danger" [class.d-none]="DeliveryAddress.valid || DeliveryAddress.untouched">Delivery Address is required</small>
            </div>
                        
            <div class="form-group">
              <label>Delivery Detail</label>
              <input type="value" class="form-control" placeholder="Enter Delivery Detail" 
              name="DeliveryDetail" #DeliveryDetail="ngModel" [(ngModel)]="address.DeliveryDetail" 
              [class.is-invalid]="DeliveryDetail.invalid && DeliveryDetail.touched" required>
              <small class="text-danger" [class.d-none]="DeliveryDetail.valid || DeliveryDetail.untouched">Delivery Detail is required</small>
            </div>
            
        </div>
               
          <!-- <mat-dialog-actions></mat-dialog-actions> -->
          <button [disabled]="!addressForm.valid" type="submit" class="btn btnn btn-block">Submit</button>
        </form>
      
  <!-- </mat-dialog-content> -->
  


